Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  readability-*,
  portability-*,
  performance-*

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
